.navMenu {
    background-color: #fffacd;
    padding-right: 20px;
}

.menuItems {
    list-style: none;
    margin: 10px 10px 0;
    padding: 0;
}

.menuItem {
    text-decoration: none;
    color: black;
}

.activeLink {
    color: #db2b2b;
    text-decoration: none;
}